body {
  display: flex;
  justify-content: center; /*ustify-conten - alinha horizontalmente*/
  align-items: center; /*align-items - alinha verticalmente*/
  flex-direction: column;
}

div{
    display: flex;
    justify-content: center; /*ustify-conten - alinha horizontalmente*/
    align-items: center; /*align-items - alinha verticalmente*/
    flex-direction: column;
}
.titulo{
    font-size: 21px;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 2px;
}
